
body{
    margin:0;
    padding:0;
    background:url(1.jpg);
}


.box {
    width:700px;
    height: 400px;
    background-color: rgb(192, 14, 29);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:10px solid rgb(252, 252, 252);
    border-radius: 10px;
}

.drumbox{
    width:60%;
    height: 100%;
    background-color: rgb(28, 8, 65);
    float:left;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
   

}
.drumpad{
    width: 30%;
    height: 90px;
    border:1px solid white;
    margin-top: 20px;
    background-color:rgba(151, 158, 165, 0.726);
    cursor: pointer;
    font-family: 'Courier New', Courier;
    font-size: 30px;
    color:rgb(253, 253, 253);
    font-weight: bold;

}

.drumpad:hover{
    background-color:rgba(168, 74, 255, 0.726);
}


.tools {
    
        width:40%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        overflow:hidden;

}
.tools h4 {
    text-align: center;
    margin-top:80px;
    font-weight: bold;
    font-family: 'Courier New', Courier;
    color:rgb(255, 255, 255);
    font-size:20px;

}
#lbox{
width:70px;
height: 30px;
background-color: rgb(28, 8, 65);
position: absolute;
    left:80%;
    top:30%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    border:1px solid rgb(255, 255, 255);

}
 #onoff{
    width:30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:83%;
    top:30%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

#volume {
    width:170px;
    height: 60px;
    background: rgb(226, 225, 223);
    position: absolute;
    left:80%;
    top:50%;
    transform: translate(-50%,-50%);
    border:1px solid rgb(35, 6, 59);
    border-radius: 2px;
    
}

#volume h2 {
    font-family: 'Courier New', Courier;
    font-size:20px;
    font-family: bold;
    color:black;
    text-align: center;

}

@media only screen and (max-width: 800px) {
    .box {
        width: 80%;
        height:60%;
    }
    #volume {
        width:100px;
        height: 60px;}
    
        #vcontrol h2{
            font-size:15px;
            left:60%;
            top:80%;
        }
       
        
        
        
  }

  .slider{
    position: absolute;
    left:80%;
    top:70%;
    transform: translate(-50%,-50%);
      -webkit-appearance: none;
      appearance: none;
      width:32%;
      height: 25px;
      background: rgb(28, 8, 65);
      outline:none;
      border-radius: 10%;
      border:2px solid white;
      
      
  }
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
  background: rgb(231, 223, 223); 
  border-radius: 50%;
  cursor: pointer; 
  }

  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(221, 215, 209);
    cursor: pointer; 
  }
   #vcontrol h2 {
    position: absolute;
    left:80%;
    top:75%;
    transform: translate(-50%,-50%);
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier;
    
    font-family: bold;

   }

   .githubCode {
    width:200px;
    height: 60px;
    background-color:rgba(143, 143, 140, 0.863);
    position: absolute;
    top:85%;
    right:5%;
    z-index:0;
    border-radius: 20%;
}
.githubCode i {
    font-size: 30px;
    color:rgb(255, 244, 244);
    cursor: pointer;
    display: inline;
    position: absolute;
    top:20%;
    right:5%;
    z-index:11;
}
.githubCode i:hover {
    color:blue;
}

.githubCode p {
    z-index:111;
    display: none;
    color:white;
    font-family: monospace;
    position: absolute;
    top:20%;
    right:0%;
    transition: all .6s ease-out;

    
}