body{
    margin:0;
    padding:0;
    background:url(1.jpg);
}


.box {
    width:700px;
    height: 400px;
    background-color: rgb(192, 14, 29);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:10px solid rgb(241, 205, 158);
    border-radius: 10px;
}

.drumbox{
    width:60%;
    height: 100%;
    background-color: #552D02;
    float:left;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
   

}
.drumpad{
    width: 30%;
    height: 90px;
    border:1px solid white;
    margin-top: 20px;
    background-color:rgba(168, 115, 58, 0.726);
    cursor: pointer;
    font-family: 'Courier New', Courier;
    font-size: 30px;
    color:rgb(41, 21, 0);
    font-weight: bold;

}

.drumpad:hover{
    background-color:rgba(247, 143, 33, 0.726);
}


.tools {
    
        width:40%;
        height: 100%;
        background-color: #D09E69;
        overflow:hidden;

}
.tools h4 {
    text-align: center;
    margin-top:80px;
    font-weight: bold;
    font-family: 'Courier New', Courier;
    color:rgb(63, 34, 2);
    font-size:20px;

}
#lbox{
width:70px;
height: 30px;
background-color: #FBD3A8;
position: absolute;
    left:80%;
    top:30%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    border:1px solid #552D02;

}
 #onoff{
    width:30px;
    height: 30px;
    background-color: #552D02;
    position: absolute;
    left:83%;
    top:30%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

#volume {
    width:170px;
    height: 60px;
    background: #FBD3A8;
    position: absolute;
    left:80%;
    top:50%;
    transform: translate(-50%,-50%);
    border:1px solid #552D02;
    border-radius: 2px;
    
}

#volume h2 {
    font-family: 'Courier New', Courier;
    font-size:20px;
    font-family: bold;
    color:rgb(63, 34, 2);
    text-align: center;

}

@media only screen and (max-width: 800px) {
    .box {
        width: 80%;
        height:60%;
    }
  }

  .slider{
    position: absolute;
    left:80%;
    top:70%;
    transform: translate(-50%,-50%);
      -webkit-appearance: none;
      appearance: none;
      width:32%;
      height: 25px;
      background: #552D02;
      outline:none;
      border-radius: 10%;
      
      
  }
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
  background: #FBD3A8; 
  border-radius: 50%;
  cursor: pointer; 
  }

  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #FBD3A8;
    cursor: pointer; 
  }
   #vcontrol h2 {
    position: absolute;
    left:80%;
    top:75%;
    transform: translate(-50%,-50%);
    color:#552D02;
    font-family: 'Courier New', Courier;
    
    font-family: bold;

   }